





<!DOCTYPE html>
{% if msg %}
    <script>
        window.alert('{{msg1}}');
    </script>
{% endif %} 

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <script type="text/javascript">
    function mult(value) {
        var x;
        var cost = '{{ cost }}';
        x= cost * value ;
        document.getElementById('TotalCost').value = x ;

    }

    </script>
    <body>
        
        <form action="/postbookingorder/" method="POST">
        {% csrf_token %}
    <h1>Booking User Data</h1>
  <label for="lname">Company Name:</label><br>
      <select name= "compname" method="GET" action="/">
        {% for compname in compnames %}
        <option value= "{{compname}}" >{{compname}}</option>
        {% endfor %}
      </select><br>
  <label for="fname">Receiver:</label>
  <input type="text" id="fname" name="receiver"><br><br>
  <label for="fname">From:</label>
  <input type="text" id="fname" name="from"><br><br>
  <label for="fname">Invoice No.:</label>
  <input type="number" id="fname" name="invcno"><br><br>
  <label for="fname">To:</label>
  <input type="text" id="fname" name="to"><br><br>
  <label for="fname">Number of Packages:</label>
  <input type="number" id="fname" name="noofpckg" onkeyup="mult(this.value);"><br><br>
  <label for="fname">Total Cost:</label><br><br>
  <input type="text" id="TotalCost" name="totalcost"><br><br>
  <label for="fname">Method of Packing:</label><br><br>
  <input type="text" id="fname" name="methodofpacking"><br><br>
  <label for="fname">Description - (said to contain):</label>
  <input type="text" id="fname" name="description"><br><br>
  <label for="fname">Date:</label>
  {{present_date}} <br> <br>
  
  <input type="submit" value="Submit Details">
</form>
    </body>
</html>