<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <a href="/productdetails"><button class="button button1" href = "#">All Products</button></a>
        <script src="" async defer></script>
    </body>
</html>

<!--     
{% for name in company_name %}
{% endfor %}

{% for proname in Product_name %}
{% endfor %}
-->