<!DOCTYPE html>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    {%if msg%}
    <script>
        window.alert('{{msg}}');
    </script>
    {% endif%}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>New Product Resgistration</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <h1>New Product Registration</h1>
       
    <form action="/postregisternewproduct/" method="post">
    {% csrf_token %}
      <label for="lname">Company Name:</label><br>
      <select name= "compname" method="GET" action="/">
        {% for compname in compnames %}
        <option value= "{{compname}}" >{{compname}}</option>
        {% endfor %}
      </select><br>
      <label for="lname">Product Name:</label><br>
      <input type="text" id="prodname" name="prodname"><br>
      <label for="lname">Product Id:</label><br>
      <input type="text" id="prodid" name="prodid"><br>
      <label for="lname">Cost Per:</label><br>
      <select name= "costper" method="GET" action="/">
        <option value="Kg" selected>Kg</option>
        <option value="Box" selected>Box</option>
    </select><br>
      <label for="lname">Cost (in Rs.):</label><br>
      <input type="number" id="cost" name="cost"><br>
      <br>
      <input type="submit" value="Submit">

   </form>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>
    </body>
</html>